services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend-app-deep_learning_migration
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_BE_URL=http://localhost:8000
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
